$primary-color: #fff; // 
$secondary-color: #919191; // 
$tertiary-color:  #616961; //
$quartiary-color: #A13F52; //
$quartiary-color-light: #bd566a;//
$quartiary-color-dark: #7c313f;//
$quintiary-color: #3fa18e; //
$quintiary-color-light: #56bda9;//
$quintiary-color-dark: #317c6e;//
$sextiary-color: #000; //
$septiary-color: #d1d4d4; //
$eigth-color: #FCC363;//
$ninth-color: #4A6FA6;//
$tenth-color: #FC9F63;//

$offset-1: $quartiary-color;
$offset-2: $quintiary-color;