h1{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
		.nls{ // undo letter-spacing for the last letter
			letter-spacing: 0px;
		}
	line-height: 2.5rem;
	font-size: 3rem;
    
    @media #{$brk-1}{
        font-size: 3.5rem;
        line-height: 3rem;
        letter-spacing: 7.5px;
    }
}
h3{
	font-family: 'Lato',sans-serif;
	font-weight: 400;
	font-size: 1rem;
    @media #{$brk-1}{
        font-size: 1.2rem;
    }
}