h1{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
		span{ // undo letter-spacing for the last letter
			letter-spacing: 0px;
		}
	line-height: 2.5rem;
	font-size: 3rem;
}