// General
.module{
	margin-top: $spacer2;
}
h2{
    margin-bottom: $spacer2;
}
section .module:nth-of-type(odd){
	text-align: right;
}

// Overview


// Experience
.job:nth-of-type(even) {
    text-align: right;
}

.job-name{
	margin-top: $spacer2;
}
.job-description li,
.school-description p{
	margin-top: $spacer2;
}

// Education

// Skills
.skills ul{
	max-width: 450px;
	margin: auto;
}
li.left{
	float: left;
	clear: right;
	width: 50%;
}
li.right{
	float: right;
	width: 50%;
}

@media #{$brk-narrow}{
	li.left, li.right {
		float: none;
		margin-left: 10%;
	}
}