.spacer1{
    width: 100%;
    height: $spacer1;
    clear: both;
}
.spacer2{
    width: 100%;
    height: $spacer2;
    clear: both;
}
.spacer3{
    width: 100%;
    height: $spacer3;
    clear: both;
}